[submodule "libdasm"]
	path = sven_internal/libdasm
	url = https://github.com/jtpereyda/libdasm.git
[submodule "ini-parser"]
	path = sven_internal/ini-parser
	url = https://github.com/sw1ft747/ini-parser.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "svenmod"]
	path = svenmod
	url = https://github.com/sw1ft747/svenmod.git
